<h1>Data Pre processing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([
  ['green', 'M', 10.1, 'class1'],
  ['red', 'L', 13.5, 'class2'],
  ['blue', 'XL', 15.3, 'class1']
])

df.columns = ['color', 'size', 'price', 'classlabel']
print(df)

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [3]:
size_mapping = {
    'XL' : 3,
    'L' : 2,
    'M' : 1
}
df['size'] = df['size'].map(size_mapping)
print(df)

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [4]:
from  sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'].values)
df['classlabel'] = y
print(df)

   color  size  price  classlabel
0  green     1   10.1           0
1    red     2   13.5           1
2   blue     3   15.3           0

In [5]:
R_ = class_le.inverse_transform(y)
print(R_)

['class1' 'class2' 'class1']

<h3>Cant use label encoder in color as there is no hierarchy in colors also cant use in size as there is an order in that</h3>

In [6]:
from sklearn.preprocessing import OneHotEncoder
ohe = (OneHotEncoder(sparse_output=False).set_output(transform='pandas'))
F_ = pd.DataFrame(ohe.fit_transform(df[['color']]))
print(F_)

   color_blue  color_green  color_red
0         0.0          1.0        0.0
1         0.0          0.0        1.0
2         1.0          0.0        0.0

In [7]:
YY_ = pd.concat([df, F_], axis=1)
print(YY_)
YY_  = YY_.drop(columns=['color'])
print(YY_)

   color  size  price  classlabel  color_blue  color_green  color_red
0  green     1   10.1           0         0.0          1.0        0.0
1    red     2   13.5           1         0.0          0.0        1.0
2   blue     3   15.3           0         1.0          0.0        0.0
   size  price  classlabel  color_blue  color_green  color_red
0     1   10.1           0         0.0          1.0        0.0
1     2   13.5           1         0.0          0.0        1.0
2     3   15.3           0         1.0          0.0        0.0

In [8]:
data = pd.read_csv('boston_house_prices.csv')

In [9]:
data.head(10)

,506,13,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.9,5.33,36.2
6,0.02985,0,2.18,0,0.458,6.43,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.6,12.43,22.9
8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.9,19.15,27.1
9,0.21124,12.5,7.87,0,0.524,5.631,100,6.0821,5,311,15.2,386.63,29.93,16.5

In [10]:
data.columns = data.iloc[0,:]
print(data.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object', name=0)

In [11]:
data.shape

(507, 14)

In [12]:
from sklearn.model_selection import train_test_split    
X = data.iloc[1:, :-1].values
y = data.iloc[1:, -1].values    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [13]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(354, 13)
(354,)
(152, 13)
(152,)

In [14]:
from sklearn.preprocessing import MinMaxScaler 
# changes the range of the data to 0-1 fromula is (x - min) / (max - min) disadvantage is that it is sensitive to outliers
mm_ = MinMaxScaler()
X_train_norm = mm_.fit_transform(X_train)
X_test_norm = mm_.transform(X_test)

In [15]:
# standard scaler is better for outliers formula is (x - mean) / variance
from sklearn.preprocessing import StandardScaler
ss_ = StandardScaler()
X_train_std = ss_.fit_transform(X_train)
X_test_std = ss_.transform(X_test)